* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
background-color: white;
padding: 20px;
}

header > h1 {
color: black;
text-align: center;
font-family: 'Times New Roman', Times, serif;


}

body {
    background: grey;
}

.score_count{

    margin: 30px auto;
    border: 5px solid white;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    color: white;
    font-size: 50px;
    padding: 20px 25px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;

}

.player{
    background: lightgrey;
    color: white;
    font-size: 25px;
    padding: 5px 15px;
    font-family: 'Times New Roman', Times, serif
    
}

#user_lable{
    position: absolute;
    top: 10px;
    left: 5px;
}

#comp_lable{
    position: absolute;
    top: 10px;
    right: 5px;
}

.result > p {

    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif
}

.options {
    text-align: center;
    margin: 50PX 0;

}

.option {
    display: inline-block;
    margin: 0 25px;
    
}